{% extends 'base.html' %}

{% block title %}
Дни рождения
{% endblock %}

{% block body %}

<!-- Birthdays -->
<div class="container pt-5 my-3 p-3 bg-white rounded shadow-sm">
    <h4 class="border-bottom border-gray pb-2 mb-0">Дни рождения
    <a href="/birthdays/today" class="btn btn-success">Месяц</a>
    <a href="/birthdays/all" class="btn btn-warning">Все</a>
    <a href="/birthdays/m" class="btn btn-info">М</a>
    <a href="/birthdays/w" class="btn btn-primary">Ж</a></h4>
    <table class="table table-striped table-bordered table-sm small text">
        <thead class="thead-dark">
            <tr align="center">
                <th scope="col" width="50%">Имя</th>
                <th scope="col" width="5%">Пол</th>
                <th scope="col" width="10%">ДР</th>
                <th scope="col" width="10%">Check</th>
                <th scope="col" width="10%">Примечание</th>
            </tr>
        </thead>
        <tbody>
            {% for el in birthdays %}
            <tr class="">
                <!-- Full years count -->
                {% if el.birth_month >= today[1] %}
                    {% if el.birth_day > today[0] %}
                        <td><a href="/birthdays/{{ el.id }}/update">[{{ today[2] - el.birth_year - 1}}] {{ el.name }}</a></td>
                    {% else %}
                        <td><a href="/birthdays/{{ el.id }}/update">[{{ today[2] - el.birth_year}}] {{ el.name }}</a></td>
                    {% endif %}
                {% else %}
                    <td><a href="/birthdays/{{ el.id }}/update">[{{ today[2] - el.birth_year}}] {{ el.name }}</a></td>
                {% endif %}
                <!-- Full years count END-->
                <td align="center">{% if el.male == True %}
                    <img src="/static/birthdays/male.png" alt="" width="15" height="15">
                    {% else %}
                    <img src="/static/birthdays/female.png" alt="" width="15" height="15">
                    {% endif %}</td>
                <td align="center">{{ el.birth_day|zfill(2) }}.{{ el.birth_month|zfill(2) }}.{{ el.birth_year|zfill(2) }}</td>
                <td align="center">{% if el.birthday_checked == True %}
                    <img src="/static/birthdays/checked.png" alt="" width="15" height="15">
                    {% else %}
                    <img src="/static/birthdays/non_checked.png" alt="" width="15" height="15">
                    {% endif %}</td>
                <td align="center">{{ el.comment }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}