{% extends 'base.html' %}

{% block title %}
Lab15.ru | Блог > Создание записи дня рождения
{% endblock %}

{% block body %}
<div class="container pt-5 my-3 p-3 bg-white rounded shadow-sm">
    <h1>Добавить день рождения</h1>
    <form method="post">
        <input type="text" id="name" name="name" class="form-control" placeholder="Введите ФИО"><br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" id="male" name="male" value="male" checked>
                </div>
            </div>
            <label class="form-control">Пол мужской</label>
        </div>
        <input type="text" id="birthday" name="birthday" class="form-control"
               placeholder="Введите день рождения: дд.мм.гггг"><br>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <input type="checkbox" id="birthday_checked" name="birthday_checked" value="birthday_checked">
                </div>
            </div>
            <label class="form-control">День рождения проверен</label>
        </div>
        <input type="text" id="comment" name="comment" class="form-control" placeholder="Комментарий"><br>
        <input type="submit" class="btn btn-success" value="Отправить"><br>
    </form>
</div>
{% endblock %}