{% extends 'base.html' %}

{% block title %}
Страница не найдена
{% endblock %}

{% block body %}
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-12 text-center">
            <div class="form-group">
                <span class="display-1 d-block">404</span>
                <div class="mb-4 lead">Что то пошло не так! Такой страницы не существует...</div>
                <a href="/" class="btn btn-link">На главную</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}