{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<div class="container h-100 w-50">
    <div class="row h-100 justify-content-center align-items-center">
        <form class="col-12 text-center">
            <div class="form-group">
                <h3 class="cover-heading">Здравствуйте, меня зовут Александр</h3>
                <p class="lead">Этот сайт - склад моих проектов. А еще тут есть блог, где я буду делиться своими
                    открытиями и достижениями.</p>
                <h5 class="cover-heading">Найти меня можно тут:</h5>
                <div class="row justify-content-center">
                    <div class="col-auto">
                        <table class="table table-responsive">
                            <tr>
                                <td><a href="mailto:on15floor@gmail.com">
                                    <img src="/static/social_mail.png" width=80% height=auto></a></td>
                                <td><a href="http://github.com/on15floor/" target="_blank">
                                    <img src="/static/social_github.png" width=80% height=auto></a></td>
                                <td><a href="https://t.me/on15floor" target="_blank">
                                    <img src="/static/social_telegram.png" width=80% height=auto></a></td>
                                <td><a href="https://www.instagram.com/on15floor/" target="_blank">
                                    <img src="/static/social_instagram.png" width=80% height=auto></a></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}