{% extends 'base.html' %}

{% block title %}
Lab15.ru | Unity > Delimiter
{% endblock %}

{% block body %}
<div class="container pt-5 my-3 p-3 bg-white rounded shadow-sm">
    <img src="/static/unity/delimiter_logo.png" width="50%" height="50%" class="mx-auto d-block rounded"
         alt="Delimiter Logo">
    <div class="my-3 p-3 pt-3 alert alert-secondary" role="alert">
        В этой простой, но очень интересной математической игре тебе придётся искать числа, которые делятся друг на
        друга без остатка.
    </div>
    <blockquote class="blockquote"><p class="mb-0">ПОВЫСЬ СВОЙ УРОВЕНЬ МАСТЕРСТВА В ДЕЛЕНИИ</p></blockquote>
    <p>Во время игры тебя всегда будет подгонять таймер. Чем больше играете, тем быстрее течет время, но есть и
        положительная сторона – ты зарабатываешь больше очков.</p>
    <blockquote class="blockquote"><p class="mb-0">ПРОВОДИТЕ СВОБОДНОЕ ВРЕМЯ СО СМЫСЛОМ</p></blockquote>
    <p>Повысь свои умственные способности! Практикуй свои знания математики и чувствуй себя уверенно в стандартных
        тестах: IQ (тест на IQ), ЕГЭ, ГИА, ОГЭ, ГДЗ и др. Проводите время с пользой. Отдыхайте и тренируйтесь!
        Математика — это просто!
    <blockquote class="blockquote"><p class="mb-0">СИСТЕМА РЕКОРДОВ</p></blockquote>
    <p>Кто лучше справится с этой головоломкой? Соревнуйся с друзьями и со всем миром!</p>
    <blockquote class="blockquote"><p class="mb-0">ТЕМЫ В КОМПЛЕКТЕ</p></blockquote>
    <p>Играть становится еще веселее, когда ты можешь купить интересные темы за деньги, заработанные в игре.</p>

    <div class="container">
        <div class="row">
            <div class="col"><img src="/static/unity/delimiter_scr01.png" class="d-block w-100" alt="Delimiter Scr 01">
            </div>
            <div class="col"><img src="/static/unity/delimiter_scr02.png" class="d-block w-100" alt="Delimiter Scr 02">
            </div>
            <div class="col"><img src="/static/unity/delimiter_scr03.png" class="d-block w-100" alt="Delimiter Scr 03">
            </div>
            <div class="col"><img src="/static/unity/delimiter_scr04.png" class="d-block w-100" alt="Delimiter Scr 04">
            </div>
        </div>
    </div>
    <br>
    <a href="https://play.google.com/store/apps/details?id=com.Laboratory15.Delimiter" target="_blank">
        <img src="/static/unity/google_play_link.png" class="mx-auto d-block" alt="Simple Cube Logo">
    </a>
    <div class="medium text-muted" align="right">
        <a href="/unity/privacy_policy/delimiter" target="_blank">Privacy Policy</a>
    </div>
</div>
{% endblock %}