{% extends 'base.html' %}

{% block title %}
Lab15.ru | Unity > KoT Guide
{% endblock %}

{% block body %}
<div class="container pt-5 my-3 p-3 bg-white rounded shadow-sm" xmlns="http://www.w3.org/1999/html">
    <img src="/static/unity/kot_guide_logo.png" width=512 height=256 class="mx-auto d-block rounded"
         alt="KoT Guide Logo">
    <div class="my-3 p-3 pt-3 alert alert-secondary" role="alert">
        Приложение является гидом по игре King of Thieves
    </div>
    <h6>Тут вы найдете много полезной информации, а именно:</h6>
    <ul>
        <li>Помощь в расстановке всех подземелий</li>
        <li>Описание и стоимость апгрейдов видов ловушек</li>
        <li>Все апгрейды вашего подземелья с указанием их стоимости</li>
        <li>Информация о камнях и выгодных комбинаций ритуалов с ними</li>
        <li>Награды и условия лиг воришек</li>
    </ul>
    <p><em>P.S. Вся информация была взята из сети интернет, если вы найдете ошибки или неточности, пожалуйста, свяжитесь
        со мной! <strong>Это приложение не связано с Zeptolab.</strong></em></p>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/unity/kot_guide_scr01.png" class="d-block w-100" alt="KoT Guide Scr 01">
            </div>
            <div class="carousel-item">
                <img src="/static/unity/kot_guide_scr02.png" class="d-block w-100" alt="KoT Guide Scr 02">
            </div>
            <div class="carousel-item">
                <img src="/static/unity/kot_guide_scr03.png" class="d-block w-100" alt="KoT Guide Scr 03">
            </div>
            <div class="carousel-item">
                <img src="/static/unity/kot_guide_scr04.png" class="d-block w-100" alt="KoT Guide Scr 04">
            </div>
            <div class="carousel-item">
                <img src="/static/unity/kot_guide_scr05.png" class="d-block w-100" alt="KoT Guide Scr 05">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <br>
    <a href="https://play.google.com/store/apps/details?id=com.Laboratory15.KoTGuide" target="_blank">
        <img src="/static/unity/google_play_link.png" class="mx-auto d-block" alt="Simple Cube Logo">
    </a>
    <div class="medium text-muted" align="right">
        <a href="/unity/privacy_policy/kot_guide" target="_blank">Privacy Policy</a>
    </div>
</div>
{% endblock %}